@model IEnumerable<PTLab_2.Models.Purchase>
@{
    ViewData["Title"] = "Корзина";
}  
<form action="BuyItem" class="text-center">
<table class="table" >
    <thead>
    <tr>
        <th>Количество</th>
        <th>Наименование</th>
        <th class="text-right">Цена</th>
        <th class="text-right">Сумма</th>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Quantity</td>
            <td >@item.ProductName</td>
            <td id="price">@item.Price</td>
            <td id="result">@(@item.Quantity*@item.Price)</td>
        </tr>
        <input type="hidden" name="id" value="@item.Id"/>
 
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Итог со скидкой @item.Discount%:</td>
        <td class="text-right" id="total">@(@item.Quantity*@item.Price-(@item.Quantity*@item.Price*@item.Discount*0.01))</td>
    </tr>
    </tfoot>
        
    }
</table>

        <input type="submit" value="Купить"/>
</form>
